name: Run firefox.py periodically

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  run-firefox:
    runs-on: ubuntu-latest
    env:   # ←ここを追加
      GROUPWARE_USER: ${{ secrets.GROUPWARE_USER }}
      GROUPWARE_PASS: ${{ secrets.GROUPWARE_PASS }}

    steps:
      - uses: actions/checkout@v3
      - name: Install Firefox
        run: sudo apt-get update && sudo apt-get install -y firefox
      - name: Install GeckoDriver
        run: |
          wget https://github.com/mozilla/geckodriver/releases/download/v0.33.0/geckodriver-v0.33.0-linux64.tar.gz
          tar -xvzf geckodriver-v0.33.0-linux64.tar.gz
          sudo mv geckodriver /usr/local/bin/
          chmod +x /usr/local/bin/geckodriver
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install Selenium
        run: pip install selenium
      - name: Run script
        run: python firefox.py
